body{
  background-image: image();
}

a {
  color: blue; text-decoration: none;
}
h1{
  font-size: 45px; text-align: center;
  border-bottom: 2px solid black;
  margin:0;
  padding: 15px;
}
ol{
  border-right:2px solid black;
  width:130px;
  margin:0;
  padding-left:30px;
  padding-top:15px;
  padding-right: 0;
}
#grid{
  display: grid;
  grid-template-columns: 180px 1fr
}
#grid ol{
  padding-left: 33px:
}
#grid article{
  padding-left:10px;
}
@media(max-width:750px){
  #grid{
  display: block;
  }
  ol{
  border-right:none;
  }
}
div input{
  margin-right:5px
}
img{
  width: 500px; height:500px;
}
