a {
  color: black; text-decoration: none;
}
h1{
  font-size: 45px; text-align: center;
  border-bottom: 2px solid black;
  margin:0;
  padding: 15px;
}
ol{
  border-right:2px solid black;
  width:150px;
  margin:0;
  padding:15px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr
}
#grid ol{
  padding-left: 33px:
}
#article{
  padding-left: 45px;
}
@media(max-width:800px){
  #grid{
  display: block;
  }
  ol{
  border-right:none;
  }
}
